body {
  max-width: 980px;
  padding: 10px;
  font: 15px/1.5 arial, helvetica, sans-serif;
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

.justify {
  /* display: flex;
  justify-content: space-around; */
  /* display: inline; */
  text-align: center;
  position: relative;
}

.img-trim {
  max-height: 120px;
  max-width: 150px;
  overflow: hidden;
  margin: auto;
}

#img-logo {
  width: 150px;
}

small.pos-2006 {
  position: absolute;
  top: 30%;
  right: 60%;
}

small.pos-2011 {
  position: absolute;
  top: 30%;
  right: 35%
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.nav-bar {
  position: relative;
  left: 10%;
}

.nav-link {
  width: 20%;
  height: 10%;
  /* margin: auto; */
  display: inline-block;
}

.nav-link-heading-font {

}

.img-size {
  width: 200px;
}
